@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Ubuntu:wght@300&display=swap');

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  text-align: center;
  width: 100%;
}

.logo {
  margin: auto;
  display: block;
  height: 4em;
  width: 90%;
  padding: 1.5em;
  will-change: filter;
  transition: all .3s;
}

h1 {
  font-size: 34px;
  transition: font-size .3s;
  margin-bottom: .7em;
}

.input-container {
  margin: auto;
  width: 450px;
  height: 100px;
}

.inner-input-container {
  position: relative;
  display: inline-block;
}

.inner-text {
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
}

input {
  color: #fff;
}

input:focus {
  outline: none;
}

.outer-input-container > input {
  box-sizing: border-box;
  width: 450px;
  height: 60px;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  background: #141414;
  font-family: 'Ubuntu Mono', monospace;
}

.inner-div {
  width: 450px;
  height: 60px;
  border-radius: 10px;
  background: #141414;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: text;
}

.inner-div > input {
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  padding-left: 1em;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #F48120);
}

.check-logo:hover {
  filter: drop-shadow(0 0 2em #27e1c6);
}

.info {
  font-size: 20px;
  margin-bottom: 2em;
}

.info > span {
  font-weight: bold;
  color: #F48120;
  font-size: 22px;
}

button {
  width: 450px;
  height: 60px;
  background: #F48120;
  border-radius: 10px;
  border: none;
  transition: all .3s;
  cursor: pointer;
  font-size: 22px;
  color: #000;
  font-family: 'Ubuntu Mono', monospace;
}

button > svg {
  margin-bottom: -4px;
}

button:hover {
  background: #b45e17;
}

@media (max-width: 700px) {
  .logo {
    height: 3em;
  }

  h1 {
    font-size: 26px;
  }
}

@media (max-width: 500px) {
  .logo {
    height: 2em;
  }

  h1 {
    font-size:18px;
  }

  .info {
    font-size: 15px;
    margin-bottom: 2em;
  }

  .info > span {
    font-size: 16px;
  }

  .input-container {
    margin: auto;
    width: 90%;
    height: 100px;
  }

  .input-container > input {
    width: 100%;
  }

  button {
    width: 100%;
    height: 60px;
  }

  .outer-input-container {
    width: 90%;
  }

  .outer-input-container > input {
    width: 100%;
  }

  .inner-div {
    width: 100%;
  }
}